<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>FileUpload</display-name>
  <servlet>
    <servlet-name>FileUploader</servlet-name>
    <servlet-class>fr.taddei.gilles.FileUploader</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FileUploader</servlet-name>
    <url-pattern>/FileUploader</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>InsertUser</servlet-name>
    <servlet-class>fr.taddei.gilles.InsertUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertUser</servlet-name>
    <url-pattern>/InsertUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Dispatcher</servlet-name>
    <servlet-class>fr.taddei.gilles.Dispatcher</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Dispatcher</servlet-name>
    <url-pattern>/Dispatcher</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Disconnect</servlet-name>
    <servlet-class>fr.taddei.gilles.Disconnect</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Disconnect</servlet-name>
    <url-pattern>/Disconnect</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CreateProject</servlet-name>
    <servlet-class>fr.taddei.gilles.CreateProject</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateProject</servlet-name>
    <url-pattern>/CreateProject</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CreateRep</servlet-name>
    <servlet-class>fr.taddei.gilles.CreateRep</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateRep</servlet-name>
    <url-pattern>/CreateRep</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddContri</servlet-name>
    <servlet-class>fr.taddei.gilles.AddContri</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddContri</servlet-name>
    <url-pattern>/AddContri</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>HandleProject</servlet-name>
    <servlet-class>fr.taddei.gilles.HandleProject</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HandleProject</servlet-name>
    <url-pattern>/HandleProject</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CrawlProject</servlet-name>
    <servlet-class>fr.taddei.gilles.CrawlProject</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CrawlProject</servlet-name>
    <url-pattern>/CrawlProject</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AskAccess</servlet-name>
    <servlet-class>fr.taddei.gilles.AskAccess</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AskAccess</servlet-name>
    <url-pattern>/AskAccess</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Search</servlet-name>
    <servlet-class>fr.taddei.gilles.Search</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Search</servlet-name>
    <url-pattern>/Search</url-pattern>
  </servlet-mapping>
</web-app>